<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>Serverlet.Inicio</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>InsertarDatos</servlet-name>
        <servlet-class>Serverlet.InsertarDatos</servlet-class>
    </servlet> 
       
    <servlet>
        <servlet-name>CargaDato</servlet-name>
        <servlet-class>Serverlet.CargaDato</servlet-class>
    </servlet>     
    
    <servlet>
        <servlet-name>ActualizarDatos</servlet-name>
        <servlet-class>Serverlet.ActualizarDatos</servlet-class>
    </servlet> 
    
    
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InsertarDatos</servlet-name>
        <url-pattern>/InsertarDatos</url-pattern>
    </servlet-mapping>  
    
    <servlet-mapping>
        <servlet-name>CargaDato</servlet-name>
        <url-pattern>/CargaDato</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>ActualizarDatos</servlet-name>
        <url-pattern>/ActualizarDatos</url-pattern>
    </servlet-mapping>  
    
            
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>insertarUsuario.html</welcome-file>
    </welcome-file-list>
</web-app>
